.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  border-left: 5px solid #1E88E5;
}


.logo_pe_marcas{
  width: 45px;
  height: 45px;
}
.margen_logos{
  margin: 1em 0 1em 0;
}